// .eslintignore
build/*
dist/*
public/*
**/out/*
**/.next/*
**/src/hooks/*
**/src/components/*
!**/src/components/custom
**/src/utils
**/src/theme
**/src/api
**/src/assets
**/src/api
**/node_modules/*
**/coverage

**/.next/*
next.config.js

vite.config.js
vite.config.ts

reportWebVitals.js
service-worker.js
serviceWorkerRegistration.js
setupTests.js

reportWebVitals.ts
service-worker.ts
serviceWorkerRegistration.ts
setupTests.ts
